body {
    background-color: rgb(234, 145, 200);
    color: rgb(82, 5, 84);
    font-family: "Varela Round", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(212, 79, 152);
    color: rgb(82, 5, 84) ;
    font-family: "Varela Round", sans-serif;

}

.passo {
    display: none;

}

.passo.ativo {
    display: block;

}

main {
    text-align: center;
    max-width: 90%;

}

img {
    max-width: 90%;

}